@whitesourcesoftware:registry=https://registry.npmjs.org/
@whitesource-adam:registry=https://wsdev.jfrog.io/artifactory/api/npm/haythem-npm/
//wsdev.jfrog.io/artifactory/api/npm/haythem-npm/:email=adam.sagas@whitesourcesoftware.com
//wsdev.jfrog.io/artifactory/api/npm/haythem-npm/:always-auth=true
